.jumbotron-custom {
    background: linear-gradient(to right, rgba(227, 255, 192, 0.751), rgba(77, 132, 67, 0.778));
    color: black;
  }
  
  .custom-text {
    color: #333333; /* Strong color, can be adjusted */
    font-size: 1.25rem; /* Increase text size */
    font-weight: bold;  /* Make the text bold */
  }

  