<div class="container mt-5">
  <!-- Welcome Panel -->
  <div class="jumbotron text-center py-5 mb-5 rounded jumbotron-custom">
    <h1 class="display-4">Welcome Back!</h1>
    <p class="lead">Get ready to better yourself by being productive!</p>
  </div>

  <!-- Navigation Links -->
  <div class="row text-center mb-5">
    <div class="col-md-4">
      <a routerLink="../schedules" class="btn btn-info btn-lg">View Schedules</a>
      <p class="mt-2 custom-text">Check and manage your upcoming schedules.</p>
    </div>
    <div class="col-md-4">
      <a routerLink="../diaries" class="btn btn-info btn-lg">View Diaries</a>
      <p class="mt-2 custom-text">Keep track of your daily activities and notes.</p>
    </div>
    <div class="col-md-4">
      <a routerLink="../profile" class="btn btn-info btn-lg">View Profile</a>
      <p class="mt-2 custom-text">Update your personal information and settings.</p>
    </div>
  </div>
</div>

  
  
