.jumbotron-custom {
    background: linear-gradient(to right, rgba(227, 255, 192, 0.751), rgba(77, 132, 67, 0.778));
    color: black;
  }
  
  .custom-text {
    color: #333333; 
    font-size: 1.25rem; 
    font-weight: bold;  
  }

  